<!DOCTYPE html>
<html>
<script src="./angular.min.js"></script>
<script src="./cookies.js"></script>
<script src="./js.js?3"></script>
<link rel="stylesheet" href="./style.css" type="text/css" media="screen" />
<title> 메이플스토리2 일퀘 관리미 </title>

<body ng-app="ArikkariHelper" ng-controller="ArikkariHelperCtrl">
<div id='nav'>
    <div class='search'> <input type="textbox" ng-model="filtertext" placeholder="검색" style="width:100%" value=""/> </div>
    <ul class='all-quest'>
        <li name="{{x.id}}" class='all-quest-list-item' ng-repeat="x in Quests | listFilter:filtertext" ng-click="startQuest($event)">
            <span name="{{x.id}}">{{x.desc}}</span>
        </li>
    </ul>
</div>
<div id='main'>
    <ul class='my-quest'>
        <li name="{{x.id}}" class='my-quest-list-item {{x.status}}' ng-repeat="x in filteredQuests = (Quests | clearFilter)" ng-click="clearQuest($event)">
            <span name="{{x.id}}">{{x.desc}} <br /> {{x.map}}</span>
        </li>
    </ul>
    <p ng-hide="filteredQuests.length" style="margin: 30px">
        <span style="font-size:16pt; font-weight:bold">메이플스토리2 일퀘 관리미 </span> <br />
        <br />
        준비 중 : 모든 퀘스트 맵 정보 추가, 추천 루트 소개 기능 추가<br />
        <br />
        왼쪽의 리스트에서 퀘스트를 클릭하면 오른쪽에 표시됩니다. <br />
        퀘스트를 완료했다면 상자를 클릭해 취소선을 그을 수 있습니다. <br />
        다시 클릭하면 완료한 퀘스트를 진행 중으로 되돌릴 수 있습니다. <br />
        완료한 퀘스트는 새로고침하거나 다음에 접속할 때까지 사라지지 않습니다. <br />
        <br />
        이 페지는 쿠키를 이용합니다. <br />
        비밀 모드 등에서 접속하시면 데이터가 저장되지 않으니 유의해주세요! <br />
        <br />
        이 메시지는 진행중인 퀘스트가 없을 경우에만 나타납니다 :D<br />
        <br />
        혹시 "모든 아이템이 갖춰져 있다!" 하시는 분들 중 <br />
        이곳에 집 광고를 올리고 싶으신 분이 계시면 '치즈모치' 로 편지 보내주세요! <br />
        확인 후 올려드리겠습니다.<br />
        <br />
        - '메럿' 길드 치즈모치 -  <br />
    </p>
</div>
</body>
</html>

