* {
    font-size: 12pt;
    font-family: '맑은 고딕', 'Malgun Gothic';
}

body {
    height: 100%;
}

#nav {
    position: fixed;
    margin: 40px 0px 0px 20px;
    width: 25%;
    height: 95%;
    overflow: hidden;
    resize: auto;
}

#main {
    float:right;
    width: 70%;
    height: 95%;
    
    margin: 40px 20px 0px 0px;
}



.search {
    margin: 0;
    width: 100%;
    height: 30px;
}
.search:hover {
    border: #cfcfcf 2px solid;
}
.all-quest {
    padding: 10px 0px 10px 0px;
    margin: 10px 0px 10px 0px;
    list-style: none;
    overflow-y: scroll;
    
    height: 85%;
}
.all-quest-list-item {
    padding: 3px 0px 3px 0px;
    cursor: pointer; 
}
.all-quest-list-item:nth-child(odd) {
    background-color: #fafafa;
}
.all-quest-list-item:nth-child(even) {
    background-color: #ffffff;
}

.all-quest-list-item:hover {
    background-color: #f3f3f3;
}
.my-quest {
    list-style: none;
    height: 85%;
}
.my-quest-list-item {
    display: inline-block;
    max-width: 200px;
    max-height: 100px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    border: #eeeeee 2px solid;
    border-radius: 5px;
}
.my-quest-list-item:hover {
    border: #dddddd 2px solid;
}
.my-quest-desc {
    font-size: 16pt;
}
.my-quest-control {
    display: block;
    margin-bottom: 20px;
    
}
.my-quest-button {
    margin-left: 5px;
    border-radius: 3px;
    border: #ececec 2px solid;
    background-color: #fcfcfc;
    width: 180px;
    height: 40px;
}
.my-quest-button:hover {
    background-color: #f9f9f9;
    cursor: pointer;
}


.cleared {
    text-decoration: line-through;
}
.ongoing {
    text-decoration: bold;
}
